<!-- 
    Document   : candidateprofile
    Created on : Dec 7, 2019, 1:20:49 AM
    Author     : nohaw
-->

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>OnlineRecruiter</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
        <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    
    <!--icons-->
    <script src="https://kit.fontawesome.com/91a6c50e93.js" crossorigin="anonymous"></script>

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body class="pages">
    <!--start breadcrumb-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">User Name</li>
            <li class="breadcrumb-item active" aria-current="page">Positions</li>
        </ol>
    </nav>
    <!--end breadcrumb-->
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Explore New Career Opportunities</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!--Confirmation msg-->
                <div id="popupmsg">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>Check your mail,</strong> HR has responded to your request.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                </div>
                <!--End confirmation msg-->

                <!--start positions-->

                <div class="card">
                    <h5 class="card-header">Web Developer <span class="badge badge-danger">New</span></h5>
                    <div class="card-body">
                        <h5 class="card-title"> Shiny white dental center - Cairo</h5>
                        <p class="card-text">- Write well designed, testable, efficient code by using best software
                            development practices</p>
                        <p class="card-text">- Create a website layout/user interface by using standard HTML/CSS
                            practices</p>
                        <p class="card-text">- Integrate data from various back-end services and databases </p>
                        <a href="#" class="btn btn-primary" onclick="alertmsg()">Apply for the job</a>
                    </div>
                </div>

                <div class="card">
                    <h5 class="card-header"> Web Developer <span class="badge badge-info">Internship</span></h5>
                    <div class="card-body">
                        <h5 class="card-title"> Web Developer In India - GT </h5>
                        <p class="card-text">- Build Scalable Web solutions from raw ideas</p>
                        <p class="card-text">- front End Development using the latest technologies</p>
                        <p class="card-text">- Creative Problem Solving </p>
                        <a href="#" class="btn btn-primary" onclick="alertmsg()">Apply for the job</a>
                    </div>
                </div>

                <div class="card">
                    <h5 class="card-header">Java Developer <span class="badge badge-secondary">Full time</span></h5>
                    <div class="card-body">
                        <h5 class="card-title"> Giza Systems - Assiut</h5>
                        <p class="card-text">- Participate as a member of development team.</p>
                        <p class="card-text">- Perform basic analysis of functional requirements.</p>
                        <p class="card-text">- Complete code stubs prepared by more senior developers.</p>
                        <a href="#" class="btn btn-primary" onclick="alertmsg()">Apply for the job</a>
                    </div>
                </div>

                <div class="card">
                    <h5 class="card-header">UI Designer & Developer<span class="badge badge-info">Internship</span></h5>
                    <div class="card-body">
                        <h5 class="card-title"> Kaii Lab - Sheikh Zayed, Giza</h5>
                        <p class="card-text">- You will join a growing start-up and therefore have the opportunity to
                            learn the ins and outs of a start-up business and experiment with different business
                            functions in a relaxed and friendly environment</p>
                        <p class="card-text">- Practice and develop your skills by working directly on real projects</p>
                        <p class="card-text">- We offer a certificate of internship participation and personal
                            recommendation letter after the internship is completed </p>
                        <a href="#" class="btn btn-primary" onclick="alertmsg()">Apply for the job</a>
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Business Development <span class="badge badge-info">Internship</span></h5>
                    <div class="card-body">
                        <h5 class="card-title"> Pioneers Co-working Space - Nasr City, Cairo</h5>
                        <p class="card-text">- Assisting in planning and executing company activities and projects</p>
                        <p class="card-text">- Identify and attract potential leads to make new deals</p>
                        <p class="card-text">- Research any new market trends</p>
                        <p class="card-text">- Create accurate and clear reports</p>
                        <a href="#" class="btn btn-primary" onclick="alertmsg()">Apply for the job</a>
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Cross-Platform Mobile Application Developer <span
                            class="badge badge-secondary">Full time</span></h5>
                    <div class="card-body">
                        <h5 class="card-title"> Roaya IT Solutions, - Heliopolis, Cairo</h5>
                        <p class="card-text">- Develop React Native applications for both IOS and Android</p>
                        <p class="card-text">- Use of Native Modules and Native UI components from both IOS and Android
                        </p>
                        <p class="card-text">- Create UI Screen and Modules in both IOS and Android and integrate with
                            React Native application </p>
                        <a href="#" class="btn btn-primary" onclick="alertmsg()">Apply for the job</a>
                    </div>
                </div>

                <!--end positions-->


            </div>
        </div>
    </div>
    <script>
        function alertmsg() {
            document.getElementById("popupmsg").style.display="block";
        }
    </script>
   
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>